
 <!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="icon"  href="/img/pic.png">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="main-content">
		{{>header}}
       <p>Use this site to getyout weather!</p>
		 <img class="portrait" src="/img/tony.jpg">

	</div>
        {{>footer}}
</body>
</html>