




<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="main-content">
		<h1>404</h1>
		{{>header}}
       <p>{{page}}</p>
		
	</div>
        {{>footer}}
</body>
</html>