<!DOCTYPE html>
<html>
<head>
	<title>Help</title>
	<link rel="icon"  href="/img/pic.png">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<h1>Help Page {{ name}}</h1>
       <p>Use this site to getyout weather!</p>
		
	</div>
        {{>footer}}
</body>
</html>